/* Custom transitions for menu */
.mobile-menu {
  transition: all 0.3s ease-in-out;
}

/* Icon transition animation */
#menu-icon {
  transition: all 0.3s ease;
}

#menu-icon.fa-times {
  transform: rotate(90deg) scale(1.2);
}
