.mobile-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out, visibility 0.4s, opacity 0.4s ease-out;
  opacity: 0;
}

.mobile-menu.show {
  max-height: 400px;
  opacity: 1;
  transition: max-height 0.4s ease-in, visibility 0.4s, opacity 0.4s ease-in;
}

#menu-icon {
  transition: all 0.3s ease;
}

#menu-icon.fa-times {
  transform: rotate(90deg) scale(1.2);
}

.active {
  color: #1e40af;
  font-weight: 600;
}
